{% extends 'base.html.twig' %}

{% block body %}
    <script>
        // передали данные в Vue т.е. просто скриптоп в глобальный window объект установили
        window.user = {{ user|raw }}
    </script>

    <div id="shop-app">
        <shop-app
            entrypoint="{{ path('api_entrypoint') }}"
        ></shop-app>
    </div>
{% endblock %}
